version: "3.9"

services:
  backend:
    build: ./back-end
    ports:
      - "8000:8000"

  frontend:
    build: ./front-end
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
